<div class="card h-100" *ngIf="carDescription">
  <!-- Product image-->
  <img class="card-img-top" src="{{carDescription.imgUrl}}" alt="..."
       routerLink="/detail/{{carDescription.id}}"/>
  <!-- Product details-->
  <div class="card-body p-4">
    <div class="text-center">
      <!-- Product name-->
      <h5 class="fw-bolder">{{carDescription.brand}}</h5><br>
      <h5 class="fw-bolder">{{carDescription.model}}</h5>
      <!-- Product price-->
      ${{carDescription.pricePerHour}}
    </div>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
      <button class="btn btn-outline-dark mt-auto" (click)="addToCart()">
        Add to cart
      </button>
    </div>
  </div>
</div>
