<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i class="ion-ios-arrow-forward"></i></span></p>
        <h1 class="mb-3 bread">Car Details</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-car-details" *ngIf="carDescription">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="car-details">
          <!--<div class="img rounded" style="background-image: url(/assets/images/bg_1.jpg);"></div>-->
          <img class="img rounded" src="{{carDescription.imgUrl}}" alt="img"/>
          <div class="text text-center">
            <span class="subheading">{{carDescription.brand}}</span>
            <h2>{{carDescription.model}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Mileage
                  <span>40,000</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-pistons"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Transmission
                  <span>Manual</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car-seat"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Seats
                  <span>5 Adults</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-backpack"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Luggage
                  <span>4 Bags</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="media-body py-md-4">
            <div class="d-flex mb-3 align-items-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-diesel"></span></div>
              <div class="text">
                <h3 class="heading mb-0 pl-3">
                  Fuel
                  <span>Petrol</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pills">
        <div class="bd-example bd-example-tabs">
          <div class="d-flex justify-content-center">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Features</a>
              </li>
            </ul>
          </div>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
              <div class="row">
                <div class="col-md-4">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Airconditions</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Child Seat</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>GPS</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Luggage</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Music</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Seat Belt</li>
                    <li class="remove"><span class="ion-ios-close"></span>Sleeping Bed</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Water</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Bluetooth</li>
                    <li class="remove"><span class="ion-ios-close"></span>Onboard computer</li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="features">
                    <li class="check"><span class="ion-ios-checkmark"></span>Audio input</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Long Term Trips</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Car Kit</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Remote central locking</li>
                    <li class="check"><span class="ion-ios-checkmark"></span>Climate control</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <form class="row">
          <div class="mb-3 col-xl-4">
            <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault"
                   #isWithDriverInput>
            <label class="form-check-label" for="flexRadioDefault">
              With driver
            </label>
          </div>

          <div class="mb-3 col-xl-4">
            <label for="startDate">Start date</label>
            <input type="date" class="form-control" id="startDate" #startDateInput [required]>
          </div>

          <div class="mb-3 col-xl-4">
            <label for="endDate">End date</label>
            <input type="date" class="form-control" id="endDate" #endDateInput [required]>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary w-100"
                (click)="rentCar(isWithDriverInput.checked, startDateInput.value, endDateInput.value)"
        >Book now</button>
      </div>
    </div>
  </div>
</section>

<!--<section class="py-5" *ngIf="carDescription">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{carDescription.imgUrl}}" alt="img"/></div>
      <div class="col-md-6">
        <div class="small mb-1">{{carDescription.brand}}</div>
        <h1 class="display-5 fw-bolder">{{carDescription.model}}</h1>
        <div class="fs-5 mb-5">
          <span>MAD{{carDescription.pricePerHour}}</span>
        </div>
        <p class="lead">
          {{carDescription.color}}
          <br>

        </p>
        <div class="d-flex">
          <form>
            <div class="mb-3">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1"
                     #isWithDriverInput>
              <label class="form-check-label" for="flexRadioDefault1">
                With driver
              </label>
            </div>

            <div class="mb-3">
              <label for="startDate">Start date</label>
              <input type="date" class="form-control" id="startDate" #startDateInput [required]>
            </div>

            <div class="mb-3">
              <label for="endDate">End date</label>
              <input type="date" class="form-control" id="endDate" #endDateInput [required]>
            </div>

            <div>
              <button class="btn btn-outline-dark flex-shrink-0" type="button"
                      (click)="rentCar(isWithDriverInput.checked, startDateInput.value, endDateInput.value)">
                <i class="bi-cart-fill me-1"></i>
                Rent now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>-->
