<div class="car-wrap rounded ftco-animate" *ngIf="carDescription">
  <!--<div class="img rounded d-flex align-items-end" style="background-image: url('/assets/images/car-1.jpg');">
  </div>-->
  <img class="img rounded d-flex align-items-end" src="{{carDescription.imgUrl}}" alt="car-img">
  <div class="text">
    <h2 class="mb-0"><a routerLink="/detail/{{carDescription.id}}">{{carDescription.model}}</a></h2>
    <div class="d-flex mb-3">
      <span class="cat">{{carDescription.brand}}</span>
      <p class="price ml-auto">${{carDescription.pricePerHour}}<span>/hour</span></p>
    </div>
    <p class="d-flex mb-0 d-block">
      <a routerLink="/rent/{{carDescription.id}}" class="btn btn-primary py-2 mr-1">Book now</a>
      <a routerLink="/detail/{{carDescription.id}}" class="btn btn-secondary py-2 ml-1">Details</a>
    </p>
  </div>
</div>
