<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-12 col-xl-12 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">You are now logged out</p>

                <div class="d-flex flex-row align-items-center mb-4 justify-content-center">
                  <p>
                    <button class="btn btn-outline-primary m-5" routerLink="/login">log-in with another account</button>
                  </p>
                  <p>
                    <button class="btn btn-outline-primary m-5" routerLink="/register">Create a new account</button>
                  </p>
                  <p>
                    <button class="btn btn-outline-primary m-5" routerLink="/catalog">Discover our car catalog</button>
                  </p>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
